In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("movies_metadata.csv",low_memory=False);
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [4]:
df.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [5]:
df.shape

(45466, 24)

In [12]:
df = df.dropna()

In [13]:
df.shape

(693, 24)

In [14]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
68,False,"{'id': 43563, 'name': 'Friday Collection', 'po...",3500000,"[{'id': 35, 'name': 'Comedy'}]",http://www.newline.com/properties/friday.html,10634,tt0113118,en,Friday,Craig and Smokey are two guys in Los Angeles h...,...,1995-04-26,28215918.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A lot can go down between thursday and saturda...,Friday,False,7.0,513.0
69,False,"{'id': 10924, 'name': 'From Dusk Till Dawn Col...",19000000,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",http://www.miramax.com/movie/from-dusk-till-dawn/,755,tt0116367,en,From Dusk Till Dawn,Seth Gecko and his younger brother Richard are...,...,1996-01-19,25836616.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One night is all that stands between them and ...,From Dusk Till Dawn,False,6.9,1644.0
153,False,"{'id': 439053, 'name': 'Brooklyn Cigar Store C...",2000000,"[{'id': 35, 'name': 'Comedy'}]",http://miramax.com/movie/blue-in-the-face/,5894,tt0112541,en,Blue in the Face,"Auggie runs a small tobacco shop in Brooklyn, ...",...,1995-09-15,1275000.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Welcome to the planet Brooklyn.,Blue in the Face,False,6.8,28.0
178,False,"{'id': 286162, 'name': 'Power Rangers Collecti...",15000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.powerrangers.com/,9070,tt0113820,en,Mighty Morphin Power Rangers: The Movie,Power up with six incredible teens who out-man...,...,1995-06-30,66000000.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Power Is On!,Mighty Morphin Power Rangers: The Movie,False,5.2,153.0

In [15]:
df.isnull().sum()

adult                    0
belongs_to_collection    0
budget                   0
genres                   0
homepage                 0
id                       0
imdb_id                  0
original_language        0
original_title           0
overview                 0
popularity               0
poster_path              0
production_companies     0
production_countries     0
release_date             0
revenue                  0
runtime                  0
spoken_languages         0
status                   0
tagline                  0
title                    0
video                    0
vote_average             0
vote_count               0
dtype: int64

In [16]:
df["original_language"].unique()

array(['en', 'wo', 'it', 'ja', 'cn', 'da', 'zh', 'ko', 'fr', 'ru', 'pt',
       'es', 'th', 'sv', 'no', 'fi', 'hi', 'nl', 'id', 'de', 'ar'],
      dtype=object)

In [17]:
df_en = df[df["original_language"] == "en"]
df_en.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
68,False,"{'id': 43563, 'name': 'Friday Collection', 'po...",3500000,"[{'id': 35, 'name': 'Comedy'}]",http://www.newline.com/properties/friday.html,10634,tt0113118,en,Friday,Craig and Smokey are two guys in Los Angeles h...,...,1995-04-26,28215918.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A lot can go down between thursday and saturda...,Friday,False,7.0,513.0
69,False,"{'id': 10924, 'name': 'From Dusk Till Dawn Col...",19000000,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",http://www.miramax.com/movie/from-dusk-till-dawn/,755,tt0116367,en,From Dusk Till Dawn,Seth Gecko and his younger brother Richard are...,...,1996-01-19,25836616.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One night is all that stands between them and ...,From Dusk Till Dawn,False,6.9,1644.0
153,False,"{'id': 439053, 'name': 'Brooklyn Cigar Store C...",2000000,"[{'id': 35, 'name': 'Comedy'}]",http://miramax.com/movie/blue-in-the-face/,5894,tt0112541,en,Blue in the Face,"Auggie runs a small tobacco shop in Brooklyn, ...",...,1995-09-15,1275000.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Welcome to the planet Brooklyn.,Blue in the Face,False,6.8,28.0
178,False,"{'id': 286162, 'name': 'Power Rangers Collecti...",15000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.powerrangers.com/,9070,tt0113820,en,Mighty Morphin Power Rangers: The Movie,Power up with six incredible teens who out-man...,...,1995-06-30,66000000.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Power Is On!,Mighty Morphin Power Rangers: The Movie,False,5.2,153.0

In [18]:
df_wo = df[df["original_language"] == "wo"]
df_wo.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
753,False,"{'id': 303969, 'name': 'Martin Scorsese’s Worl...",0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://worldcinemafoundation.org/films/touki-b...,77771,tt0070820,wo,Touki-Bouki,A cowherd with a skull-mounted motorcycle and ...,...,1973-07-01,0.0,85.0,"[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...",Released,The Journey of the Hyena,Touki Bouki,False,7.3,10.0

In [19]:
df_it = df[df["original_language"] == "it"]
df_it.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
1159,False,"{'id': 48317, 'name': 'The Man With No Name Co...",1200000,"[{'id': 37, 'name': 'Western'}]","http://www.mgm.com/#/our-titles/766/The-Good,-...",429,tt0060196,it,"Il buono, il brutto, il cattivo",While the Civil War rages between the Union an...,...,1966-12-23,6000000.0,161.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,For three men the Civil War wasn't hell. It wa...,"The Good, the Bad and the Ugly",False,8.1,2371.0
4197,False,"{'id': 441439, 'name': 'Alienation Trilogy', '...",0,"[{'id': 18, 'name': 'Drama'}]",http://www.imdb.com/title/tt0054130/,41050,tt0054130,it,La notte,A married couple attend a bourgeois party and ...,...,1961-01-23,0.0,115.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,"Many nights led to this night, nights of time,...",La Notte,False,7.7,72.0

In [21]:
df_merge_ew = pd.concat([df_en,df_wo])
df_merge_ew

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,3.521940e+08,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
68,False,"{'id': 43563, 'name': 'Friday Collection', 'po...",3500000,"[{'id': 35, 'name': 'Comedy'}]",http://www.newline.com/properties/friday.html,10634,tt0113118,en,Friday,Craig and Smokey are two guys in Los Angeles h...,...,1995-04-26,2.821592e+07,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A lot can go down between thursday and saturda...,Friday,False,7.0,513.0
69,False,"{'id': 10924, 'name': 'From Dusk Till Dawn Col...",19000000,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",http://www.miramax.com/movie/from-dusk-till-dawn/,755,tt0116367,en,From Dusk Till Dawn,Seth Gecko and his younger brother Richard are...,...,1996-01-19,2.583662e+07,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One night is all that stands between them and ...,From Dusk Till Dawn,False,6.9,1644.0
153,False,"{'id': 439053, 'name': 'Brooklyn Cigar Store C...",2000000,"[{'id': 35, 'name': 'Comedy'}]",http://miramax.com/movie/blue-in-the-face/,5894,tt0112541,en,Blue in the Face,"Auggie runs a small tobacco shop in Brooklyn, ...",...,1995-09-15,1.275000e+06,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Welcome to the planet Brooklyn.,Blue in the Face,False,6.8,28.0
178,False,"{'id': 286162, 'name': 'Power Rangers Collecti...",15000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.powerrangers.com/,9070,tt0113820,en,Mighty Morphin Power Rangers: The Movie,Power up with six incredible teens who out-man...,...,1995-06-30,6.600000e+07,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Power Is On!,Mighty Morphin Power Rangers: The Movie,False,5.2,153.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44009,False,"{'id': 86066, 'name': 'Despicable Me Collectio...",80000000,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",http://www.despicable.me,324852,tt3469046,en,Despicable Me 3,Gru and his wife Lucy must stop former '80s ch...,...,2017-06-15,1.020063e+09,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Oh brother.,Despicable Me 3,False,6.2,2002.0
44274,False,"{'id': 173710, 'name': 'Planet of the Apes (Re...",152000000,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",http://www.foxmovies.com/movies/war-for-the-pl...,281338,tt3450958,en,War for the Planet of the Apes,Caesar and his apes are forced into a deadly c...,...,2017-07-11,3.699080e+08,140.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,For freedom. For family. For the planet.,War for the Planet of the Apes,False,6.7,1675.0
44674,False,"{'id': 476961, 'name': 'Goon Collection', 'pos...",0,"[{'id': 35, 'name': 'Comedy'}]",https://www.facebook.com/GoonFilm/?fref=ts,336890,tt2417712,en,Goon: Last of the Enforcers,"During a pro lockout, Doug ""The Thug"" Glatt is...",...,2017-03-17,0.000000e+00,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Glatt's Back!,Goon: Last of the Enforcers,False,6.0,35.0
44842,False,"{'id': 8650, 'name': 'Transformers Collection'...",260000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,335988,tt3371366,en,Transformers: The Last Knight,"Autobots and Decepticons are at war, with huma...",...,2017-06-21,6.049421e+08,149.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For one world to live, the other must die.",Transformers: The Last Knight,False,6.2,1440.0
753,False,"{'id': 303969, 'name': 'Martin Scorsese’s Worl...",0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://worldcinemafoundation.org/films/touki-b...,77771,tt0070820,wo,Touki-Bouki,A cowherd with a skull-mounted motorcycle and ...,...,1973-07-01,0.000000e+00,85.0,"[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...",Released,The Journey of the Hyena,Touki Bouki,False,7.3,10.0

In [22]:
df.shape

(693, 24)

In [23]:
df_en.shape

(610, 24)

In [24]:
df_wo.shape

(1, 24)

In [25]:
df_merge_ew.shape

(611, 24)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 693 entries, 9 to 45029
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  693 non-null    object
 1   belongs_to_collection  693 non-null    object
 2   budget                 693 non-null    object
 3   genres                 693 non-null    object
 4   homepage               693 non-null    object
 5   id                     693 non-null    object
 6   imdb_id                693 non-null    object
 7   original_language      693 non-null    object
 8   original_title         693 non-null    object
 9   overview               693 non-null    object
 10  popularity             693 non-null    object
 11  poster_path            693 non-null    object
 12  production_companies   693 non-null    object
 13  production_countries   693 non-null    object
 14  release_date           693 non-null    object
 15  revenue                693 non-null    float64
 16  runtime                693 non-null    float64
 17  spoken_languages       693 non-null    object
 18  status                 693 non-null    object
 19  tagline                693 non-null    object
 20  title                  693 non-null    object
 21  video                  693 non-null    object
 22  vote_average           693 non-null    float64
 23  vote_count             693 non-null    float64
dtypes: float64(4), object(20)
memory usage: 135.4+ KB

In [29]:
df_sort = df.sort_values(by = ["id"])

In [30]:
df_sort

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
17977,False,"{'id': 98513, 'name': 'Behind Enemy Lines Coll...",0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.foxhome.com/behindenemylinesiiaxiso...,10005,tt0497329,en,Behind Enemy Lines II: Axis of Evil,"Navy SEALS, headed by Lt. Bobby James, are dis...",...,2006-10-17,0.000000e+00,96.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The fate of the world hangs in the balance in ...,Behind Enemy Lines II: Axis of Evil,False,4.5,31.0
6740,False,"{'id': 96472, 'name': 'Brother Bear Collection...",100000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://movies.disney.com/brother-bear,10009,tt0328880,en,Brother Bear,When an impulsive boy named Kenai is magically...,...,2003-10-23,0.000000e+00,85.0,"[{'iso_639_1': 'hr', 'name': 'Hrvatski'}, {'is...",Released,Nature Calls,Brother Bear,False,6.9,1410.0
20269,False,"{'id': 108804, 'name': 'Outpost Collection', '...",3000000,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",http://www.outpostthemovies.com/,100183,tt1418712,en,Outpost: Black Sun,A pair of investigators team up with a Special...,...,2012-01-01,0.000000e+00,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,War in Hell,Outpost: Black Sun,False,4.5,32.0
588,False,"{'id': 153010, 'name': 'Beauty and the Beast C...",25000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 1075...",http://disney.go.com/disneyvideos/animatedfilm...,10020,tt0101414,en,Beauty and the Beast,"Follow the adventures of Belle, a bright young...",...,1991-11-13,3.773506e+08,84.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,The most beautiful love story ever told.,Beauty and the Beast,False,7.5,3029.0
11435,False,"{'id': 43220, 'name': 'National Lampoon’s Van ...",0,"[{'id': 35, 'name': 'Comedy'}]",http://www.riseoftaj.com/,10032,tt0480271,en,Van Wilder 2: The Rise of Taj,Taj Mahal Badalandabad leaves Coolidge College...,...,2006-12-01,6.086508e+06,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Legend is Growing.,Van Wilder 2: The Rise of Taj,False,5.1,162.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35536,False,"{'id': 98448, 'name': 'Thou Shalt Laugh Collec...",0,"[{'id': 35, 'name': 'Comedy'}]",http://www.thoushaltlaugh.com/,98440,tt1320113,en,Thou Shalt Laugh 3,New from the #1 family comedy series of all-ti...,...,2008-11-04,0.000000e+00,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Next PRETTY-MUCH-PERFECT Installment in th...,Thou Shalt Laugh 3,False,0.0,0.0
23897,False,"{'id': 401562, 'name': 'Teenage Mutant Ninja T...",125000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.teenagemutantninjaturtlesmovie.com,98566,tt1291150,en,Teenage Mutant Ninja Turtles,The city needs heroes. Darkness has settled ov...,...,2014-08-07,4.772000e+08,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Mysterious. Dangerous. Reptilious. You've neve...,Teenage Mutant Ninja Turtles,False,5.8,2677.0
20439,False,"{'id': 146136, 'name': 'Armour of God Collecti...",48000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://hbpictures.ayomovie.com/12shengxiao//,98567,tt1424310,cn,Chinese Zodiac,Asian Hawk (Jackie Chan) leads a mercenary tea...,...,2012-12-20,0.000000e+00,120.0,"[{'iso_639_1': 'zh', 'name': '普通话'}, {'iso_639...",Released,"His mission is to recover their heads, before ...",Chinese Zodiac,False,6.0,266.0
2215,False,"{'id': 348843, 'name': 'Vampires Collection', ...",20000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",http://www.theofficialjohncarpenter.com/vampires/,9945,tt0120877,en,Vampires,The church enlists a team of vampire-hunters t...,...,1998-04-15,0.000000e+00,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,From the Master of Evil. Comes a New Breed of ...,Vampires,False,5.8,262.0
26558,False,"{'id': 86311, 'name': 'The Avengers Collection...",280000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,tt2395427,en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,...,2015-04-22,1.405404e+09,141.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A New Age Has Come.,Avengers: Age of Ultron,False,7.3,6908.0

In [31]:
df_transpose = df.transpose()
df_transpose

,9,68,69,153,178,219,256,309,359,475,...,43294,43725,43726,44009,44050,44274,44674,44821,44842,45029
adult,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
belongs_to_collection,"{'id': 645, 'name': 'James Bond Collection', '...","{'id': 43563, 'name': 'Friday Collection', 'po...","{'id': 10924, 'name': 'From Dusk Till Dawn Col...","{'id': 439053, 'name': 'Brooklyn Cigar Store C...","{'id': 286162, 'name': 'Power Rangers Collecti...","{'id': 182813, 'name': 'Clerks Collection', 'p...","{'id': 10, 'name': 'Star Wars Collection', 'po...","{'id': 144200, 'name': 'Swan Princess Series',...","{'id': 94032, 'name': 'The Lion King Collectio...","{'id': 328, 'name': 'Jurassic Park Collection'...",...,"{'id': 87118, 'name': 'Cars Collection', 'post...","{'id': 224026, 'name': 'Monster High Collectio...","{'id': 224026, 'name': 'Monster High Collectio...","{'id': 86066, 'name': 'Despicable Me Collectio...","{'id': 473840, 'name': 'Little Forest Collecti...","{'id': 173710, 'name': 'Planet of the Apes (Re...","{'id': 476961, 'name': 'Goon Collection', 'pos...","{'id': 34055, 'name': 'Pokémon Collection', 'p...","{'id': 8650, 'name': 'Transformers Collection'...","{'id': 417491, 'name': 'Bon Cop Bad Cop Collec..."
budget,58000000,3500000,19000000,2000000,15000000,27000,11000000,35000000,45000000,63000000,...,175000000,0,0,80000000,0,152000000,0,16000000,260000000,0
genres,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","[{'id': 35, 'name': 'Comedy'}]","[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...","[{'id': 35, 'name': 'Comedy'}]","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 35, 'name': 'Comedy'}]","[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","[{'id': 16, 'name': 'Animation'}]","[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",...,"[{'id': 10751, 'name': 'Family'}, {'id': 35, '...","[{'id': 16, 'name': 'Animation'}, {'id': 10751...","[{'id': 10751, 'name': 'Family'}, {'id': 14, '...","[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...","[{'id': 18, 'name': 'Drama'}]","[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...","[{'id': 35, 'name': 'Comedy'}]","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...","[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name..."
homepage,http://www.mgm.com/view/movie/757/Goldeneye/,http://www.newline.com/properties/friday.html,http://www.miramax.com/movie/from-dusk-till-dawn/,http://miramax.com/movie/blue-in-the-face/,http://www.powerrangers.com/,http://www.miramax.com/movie/clerks/,http://www.starwars.com/films/star-wars-episod...,http://www.sonypictures.com/movies/theswanprin...,http://movies.disney.com/the-lion-king,http://www.jurassicpark.com/,...,http://cars.disney.com,http://www.monsterhigh.com/en-us/videos/index....,http://www.monsterhigh13wishes.com,http://www.despicable.me,https://web.archive.org/web/20160111092554/htt...,http://www.foxmovies.com/movies/war-for-the-pl...,https://www.facebook.com/GoonFilm/?fref=ts,http://movies.warnerbros.com/pk3/,http://www.transformersmovie.com/,http://bcbc2.ca/en/
id,710,10634,755,5894,9070,2292,11,22586,8587,329,...,260514,360404,212470,324852,294682,281338,336890,10991,335988,417489
imdb_id,tt0113189,tt0113118,tt0116367,tt0112541,tt0113820,tt0109445,tt0076759,tt0111333,tt0110357,tt0107290,...,tt3606752,tt4779496,tt3159812,tt3469046,tt3474600,tt3450958,tt2417712,tt0235679,tt3371366,tt4738174
original_language,en,en,en,en,en,en,en,en,en,en,...,en,en,en,en,ja,en,en,ja,en,fr
original_title,GoldenEye,Friday,From Dusk Till Dawn,Blue in the Face,Mighty Morphin Power Rangers: The Movie,Clerks,Star Wars,The Swan Princess,The Lion King,Jurassic Park,...,Cars 3,"Monster High: Boo York, Boo York",Monster High: 13 Wishes,Despicable Me 3,リトル・フォレスト 夏・秋,War for the Planet of the Apes,Goon: Last of the Enforcers,Pokémon 3: The Movie,Transformers: The Last Knight,Bon Cop Bad Cop 2
overview,James Bond must unmask the mysterious head of ...,Craig and Smokey are two guys in Los Angeles h...,Seth Gecko and his younger brother Richard are...,"Auggie runs a small tobacco shop in Brooklyn, ...",Power up with six incredible teens who out-man...,Convenience and video store clerks Dante and R...,Princess Leia is captured and held hostage by ...,The beautiful princess Odette is transformed i...,A young lion cub named Simba can't wait to be ...,A wealthy entrepreneur secretly creates a them...,...,Blindsided by a new generation of blazing-fast...,The ghouls are taking a bite out of Boo York! ...,"It’s a new school year at Monster High™, and t...",Gru and his wife Lucy must stop former '80s ch...,"Abandoned by her mother, young Ichiko leaves h...",Caesar and his apes are forced into a deadly c...,"During a pro lockout, Doug ""The Thug"" Glatt is...",When Molly Hale's sadness of her father's disa...,"Autobots and Decepticons are at war, with huma...",Ward and Bouchard must face an important car t...
popularity,14.686036,14.56965,15.339153,11.528147,7.024227,10.513367,42.149697,8.910462,21.605761,8.863776,...,19.148182,3.393803,3.527047,36.631519,1.252833,146.161786,6.365691,6.480376,39.186819,7.580299
poster_path,/5c0ovjT41KnYIHYuF4AWsTe3sKh.jpg,/kkoGT4bnK5oGiNbzGGcXzrXMSxn.jpg,/ce0d4kM5KxT4x1Oq8JkSuNYevri.jpg,/qa9yf3OlfXbYBb0af0mpawGB6TI.jpg,/A3ijhraMN0tvpDnPoyVP7NulkSr.jpg,/dmNytzvQTjylI83qrgDoS1KQ0ev.jpg,/btTdmkgIvOi0FFip1sPuZI2oQG6.jpg,/oYp2bckWNBKOIbznjAfypVoMOFl.jpg,/bKPtXn9n4M4s8vvZrbw40mYsefB.jpg,/c414cDeQ9b6qLPLeKmiJuLDUREJ.jpg,...,/fyy1nDC8wm553FCiBDojkJmKLCs.jpg,/sTFl7TjLYY8IfsF2Xi28flBKf5B.jpg,/smWPHu8UWlVr6pJkExPrF4fks0x.jpg,/5qcUGqWoWhEsoQwNUrtf3y3fcWn.jpg,/87FWLJdViF9p8vysGBFcXMXXlZp.jpg,/3vYhLLxrTtZLysXtIWktmd57Snv.jpg,/emio9KDrLXqqX4wXa4YTacBQXG.jpg,/5ILjS6XB5deiHop8SXPsYxXWVPE.jpg,/s5HQf2Gb3lIO2cRcFwNL9sn1o1o.jpg,/qY4RGT6Ky1Z46BWaKohTlNp9ncU.jpg
production_companies,"[{'name': 'United Artists', 'id': 60}, {'name'...","[{'name': 'New Line Cinema', 'id': 12}]","[{'name': 'A Band Apart', 'id': 59}, {'name': ...","[{'name': 'Miramax Films', 'id': 14}, {'name':...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'name': 'Miramax Films', 'id': 14}, {'name':...","[{'name': 'Lucasfilm', 'id': 1}, {'name': 'Twe...","[{'name': 'Rich Animation Studios', 'id': 4108}]","[{'name': 'Walt Disney Pictures', 'id': 2}, {'...","[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...","[{'name': 'Mattel Playground Productions', 'id...","[{'name': 'Mattel', 'id': 6220}]","[{'name': 'Illumination Entertainment', 'id': ...","[{'name': 'Shochiku', 'id': 5906}]","[{'name': 'Chernin Entertainment', 'id': 7076}]","[{'name': 'Caramel Film', 'id': 23108}]","[{'name': 'TV Tokyo', 'id': 3034}, {'name': '4...","[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'name': 'Item 7', 'id': 7177}, {'name': 'Jes..."
production_countries,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...",...,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'JP', 'name': 'Japan'}]","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]","[{'iso_3166_1': 'JP', 'name': 'Japan'}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]"
release_date,1995-11-16,1995-04-26,1996-01-19,1995-09-15,1995-06-30,1994-09-13,1977-05-25,1994-11-18,1994-06-23,1993-06-11,...,2017-06-15,2015-10-19,2013-10-08,2017-06-15,2014-08-30,2017-07-11,2017-03-17,2000-07-08,2017-06-21,2017-05-12
revenue,352194034.0,28215918.0,25836616.0,1275000.0,66000000.0,3151130.0,775398007.0,9771658.0,788241776.0,920100000.0,...,350170057.0,0.0,0.0,1020063384.0,0.0,369907963.0,0.0,68411275.0,604942143.0,0.0
runtime,130.0,91.0,108.0,83.0,92.0,92.0,121.0,89.0,89.0,127.0,...,109.0,72.0,73.0,96.0,111.0,140.0,101.0,93.0,149.0,0.0
spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",...,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'ja', 'name': '日本語'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso..."
status,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released,...,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released
tagline,No limits. No fears. No substitutes.,A lot can go down between thursday and saturda...,One night is all that stands between them and ...,Welcome to the planet Brooklyn.,The Power Is On!,Just because they serve you doesn't mean they ...,"A long time ago in a galaxy far, far away...",An enchanting classic destined to capture your...,Life's greatest adventure is finding your plac...,An adventure 65 million years in the making.,...,"From this moment, everything will change",A Monsterrific Musical!,Be scare-ful what you wish for,Oh brother.,Back to nature.,For freedom. For family. For the planet.,Glatt's Back!,Pokémon: Spell of the Unknown,"For one world to live, the other must die.","It's okay America, we've got your back."
title,GoldenEye,Friday,From Dusk Till Dawn,Blue in the Face,Mighty Morphin Power Rangers: The Movie,Clerks,Star Wars,The Swan Princess,The Lion King,Jurassic Park,...,Cars 3,"Monster High: Boo York, Boo York",Monster High: 13 Wishes,Despicable Me 3,Little Forest: Summer/Autumn,War for the Planet of the Apes,Goon: Last of the Enforcers,Pokémon: Spell of the Unknown,Transformers: The Last Knight,Bon Cop Bad Cop 2
video,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
vote_average,6.6,7.0,6.9,6.8,5.2,7.4,8.1,6.5,8.0,7.6,...,6.6,7.3,6.4,6.2,8.3,6.7,6.0,6.0,6.2,6.8
vote_count,1194.0,513.0,1644.0,28.0,153.0,769.0,6778.0,251.0,5520.0,4956.0,...,718.0,17.0,20.0,2002.0,16.0,1675.0,35.0,144.0,1440.0,5.0

In [32]:
df_melt = pd.melt(df,id_vars=["id","original_language"],var_name="Metric",value_name="Value")
df_melt

           id original_language      Metric   Value
0         710                en       adult   False
1       10634                en       adult   False
2         755                en       adult   False
3        5894                en       adult   False
4        9070                en       adult   False
...       ...               ...         ...     ...
15241  281338                en  vote_count  1675.0
15242  336890                en  vote_count    35.0
15243   10991                ja  vote_count   144.0
15244  335988                en  vote_count  1440.0
15245  417489                fr  vote_count     5.0

[15246 rows x 4 columns]

In [36]:
df_cast = pd.pivot_table(df,index=["id","original_language"],values="original_title",aggfunc="first")
df_cast_title = pd.pivot_table(df,index=["id","original_language"],values="spoken_languages",aggfunc="first")
dfr_cast_final = pd.concat([df_cast,df_cast_title],axis = 1)

In [37]:
dfr_cast_final

,,original_title,spoken_languages
id,original_language,,
10005,en,Behind Enemy Lines II: Axis of Evil,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso..."
10009,en,Brother Bear,"[{'iso_639_1': 'hr', 'name': 'Hrvatski'}, {'is..."
100183,en,Outpost: Black Sun,"[{'iso_639_1': 'en', 'name': 'English'}]"
10020,en,Beauty and the Beast,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is..."
10032,en,Van Wilder 2: The Rise of Taj,"[{'iso_639_1': 'en', 'name': 'English'}]"
...,...,...,...
98440,en,Thou Shalt Laugh 3,"[{'iso_639_1': 'en', 'name': 'English'}]"
98566,en,Teenage Mutant Ninja Turtles,"[{'iso_639_1': 'en', 'name': 'English'}]"
98567,cn,Chinese Zodiac,"[{'iso_639_1': 'zh', 'name': '普通话'}, {'iso_639..."
9945,en,Vampires,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso..."
99861,en,Avengers: Age of Ultron,"[{'iso_639_1': 'en', 'name': 'English'}]"